<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot1.mapper.SysEquipmentStatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SysEquipmentStatusResult" type="com.example.springboot1.entity.browser.system.equipment.SysEquipmentStatus">
        <id property="devStatusId"      column="devstatus_id"   />
        <result property="devId"        column="dev_id"         />
        <result property="devName"      column="dev_name"       />
        <result property="statusId"     column="status_id"      />
        <result property="statusName"   column="status_name"    />
        <result property="startTime"    column="start_time"     />
        <result property="endTime"      column="end_time"       />
        <result property="timeStatus"   column="time_status"    />
        <result property="createTime"   column="create_time"    />
        <result property="createBy"     column="create_by"      />
        <result property="updateTime"   column="update_time"    />
        <result property="updateBy"     column="update_by"      />
        <result property="remark"       column="remark"         />
    </resultMap>

    <resultMap id="SysEquipmentResult" type="com.example.springboot1.entity.browser.system.equipment.SysEquipment">
        <id property="devId"            column="dev_id"         />
        <result property="devName"      column="dev_name"       />
        <result property="createTime"   column="create_time"    />
        <result property="createBy"     column="create_by"      />
        <result property="updateTime"   column="update_time"    />
        <result property="updateBy"     column="update_by"      />
        <result property="remark"       column="remark"         />
    </resultMap>

    <resultMap id="SysStatusResult" type="com.example.springboot1.entity.browser.system.equipment.SysStatus">
        <id property="statusId"         column="status_id"      />
        <result property="statusName"   column="status_name"    />
        <result property="createTime"   column="create_time"    />
        <result property="createBy"     column="create_by"      />
        <result property="updateTime"   column="update_time"    />
        <result property="updateBy"     column="update_by"      />
        <result property="remark"       column="remark"         />
    </resultMap>

    <sql id="selectEquipmentStatusVo">
        select es.devStatusId, es.devId, es.statusId, es.startTime, es.endTime, es.createTime, es.createBy, es.remark,
               e.devId, e.devName, s.statusId, s.statusName
        from sys_devstatus es
        left join sys_devs e on es.devId = e.devId
        left join sys_status s on es.statusId = s.statusId
    </sql>

    <select id="selectEquipmentStatusList" parameterType="com.example.springboot1.entity.browser.system.equipment.SysEquipmentStatus" resultMap="SysEquipmentStatusResult">
        SELECT es.devstatus_id, es.dev_id, es.status_id, es.start_time, es.end_time, es.time_status, es.create_time, es.create_by, es.remark,
            e.dev_name,
            s.status_name
        FROM sys_devstatus es
        INNER JOIN sys_equipment e ON es.dev_id = e.dev_id
        INNER JOIN sys_status s ON es.status_id = s.status_id
        where 1=1
        <if test="devStatusId != null and devStatusId != 0">
            AND es.devstatus_id = #{devStatusId}
        </if>
        <if test="devId != null and devId != 0">
            AND es.dev_id = #{devId}
        </if>
        <if test="devName != null and devName != ''">
            AND e.dev_name LIKE CONCAT('%', #{devName}, '%')
        </if>
        <if test="statusId != null and statusId != 0">
            AND es.status_id = #{statusId}
        </if>
        <if test="statusName != null and statusName != ''">
            AND s.status_name LIKE CONCAT('%', #{statusName}, '%')
        </if>
        <if test="params.startBeginTime != null and params.startBeginTime != ''"><!-- 设备开始时间检索 -->
            AND date_format(es.start_time,'%y%m%d') &gt;= date_format(#{params.startBeginTime},'%y%m%d')
        </if>
        <if test="params.startEndTime != null and params.startEndTime != ''"><!-- 设备结束时间检索 -->
            AND date_format(es.start_time,'%y%m%d') &lt;= date_format(#{params.startEndTime},'%y%m%d')
        </if>
        <if test="params.endBeginTime != null and params.endBeginTime != ''"><!-- 设备开始时间检索 -->
            AND date_format(es.end_time,'%y%m%d') &gt;= date_format(#{params.endBeginTime},'%y%m%d')
        </if>
        <if test="params.endEndTime != null and params.endEndTime != ''"><!-- 设备结束时间检索 -->
            AND date_format(es.end_time,'%y%m%d') &lt;= date_format(#{params.endEndTime},'%y%m%d')
        </if>
    </select>

    <select id="selectEquipmentList" parameterType="com.example.springboot1.entity.browser.system.equipment.SysEquipment" resultMap="SysEquipmentResult">
        SELECT e.dev_id, e.dev_name, e.create_time, e.create_by, e.remark
        FROM sys_equipment e
        where 1=1
        <if test="devName != null and devName != ''">
            AND e.dev_name like concat('%', #{devName}, '%')
        </if>
        <if test="devId != null and devId != 0">
            AND e.dev_id = #{devId}
        </if>
    </select>

    <select id="selectStatusList" parameterType="com.example.springboot1.entity.browser.system.equipment.SysStatus" resultMap="SysStatusResult">
        SELECT s.status_id, s.status_name, s.create_time, s.create_by, s.remark
        FROM sys_status s
        where 1=1
        <if test="statusName != null and statusName != ''">
            AND s.status_name like concat('%', #{statusName}, '%')
        </if>
        <if test="statusId != null and statusId != 0">
            AND s.status_id = #{statusId}
        </if>
    </select>


    <select id="selectEquipmentStatusById" parameterType="Long" resultMap="SysEquipmentStatusResult">
        <include refid="selectEquipmentStatusVo"/>
        where devstatus_id = #{devstatusId}
    </select>

    <select id="selectEquipmentIdByName" parameterType="String" resultType="Long">
        select e.dev_id
        from sys_equipment e
        where e.dev_name = #{devName}
    </select>

    <select id="selectStatusIdByName" parameterType="String" resultMap="SysStatusResult">
        select s.status_id, s.status_name
        from sys_status s
        where 1=1
        <if test="statusName != null and statusName != ''">
            AND s.status_name LIKE CONCAT('%', #{statusName}, '%')
        </if>
    </select>
    
    <select id="checkDevNameExist" parameterType="String" resultType="int">
        select COUNT(*)
        FROM sys_equipment
        WHERE dev_name = #{devName};
    </select>

    <select id="checkStatusNameExist" parameterType="String" resultType="int">
        select COUNT(*)
        FROM sys_status
        WHERE status_name = #{statusName};
    </select>

    <update id="updateEquipmentStatus" parameterType="com.example.springboot1.entity.browser.system.equipment.SysEquipmentStatus">
        update sys_devstatus
        <set>
            <if test="statusId != null and statusId != 0">status_id = #{statusId},</if>
            <if test="devId != null and devId != 0">dev_id = #{devId},</if>
            <if test="startTime != null and startTime !=''">start_time = #{startTime},</if>
            <if test="endTime != null and endTime !=''">end_time = #{endTime},</if>
            <if test="timeStatus != null ">time_status = #{timeStatus},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where devstatus_id = #{devStatusId}
    </update>

    <insert id="insertEquipmentStatus" parameterType="com.example.springboot1.entity.browser.system.equipment.SysEquipmentStatus">
        insert into sys_devstatus(
            <if test="devId != null and devId != 0">dev_id,</if>
            <if test="statusId != null and statusId != 0">status_id,</if>
            <if test="startTime != null and startTime !=''">start_time,</if>
            <if test="endTime != null and endTime !=''">end_time,</if>
            <if test="timeStatus != null ">time_status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        )values(
            <if test="devId != null and devId != 0">#{devId},</if>
            <if test="statusId != null and statusId != 0">#{statusId},</if>
            <if test="startTime != null and startTime !=''">#{startTime},</if>
            <if test="endTime != null and endTime !=''">#{endTime},</if>
            <if test="timeStatus != null ">#{timeStatus},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>

    <delete id="deleteEquipmentStatusById" parameterType="Long">
        delete from sys_devstatus where devstatus_id = #{devstatusId}
    </delete>

    <delete id="deleteEquipmentStatusByIds" parameterType="Long">
        delete from sys_devstatus where devstatus_id in
        <foreach collection="array" item="devstatusId" open="(" separator="," close=")">
            #{devstatusId}
        </foreach>
    </delete>

    




</mapper>